@charset "utf-8";
/* Name: Marten Dobbins, Project V1, 4/29/2020, Provide primary structure for site */

/* https://colorpalettes.net/color-palette-4064/ #140604 and #ffbb74 sourced from this page */

html{
    background-color: darkgoldenrod;
}

body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    color: white;
}

p{
    margin: auto;
    padding: 5px 25px 25px 25px;
}

img{
    align-items: center;
}