@charset "utf-8";
/* V3 Site
   Author: Marten Dobbins
   Date:   May 28, 2020
   
   Filename: styles.css */
/* M4LO2 Demonstrate the use of background images (CSS): Image is RKS' logo on the moccasin color background*/
html{
    background-color: moccasin;
    background: url(rksbackground.png) repeat;
}
/* M5LO3 Use media queries to format a page differently for phones vs. PCs. */
/* I had to change the max-width to 720px due to my phone the lowest resolution it could go to was 1480x720 so I couldn't see 
any changes with 480px */
/* Despite these changes though it seems to still not be working */
@media (max-width: 721px){
    .album-container{
        padding: 10px;
        width: 20%;
        height: 50%;
    }
    p#album-names{
        display: block;
        clear: left;
    }
}
@media (min-width: 722px){
    .albums::after{
        clear: both;
    }
    .album-container{
        float: left;
        padding: 10px;
        width: 30%;
    }
    img#RKS-Albums{
        display: block;
        clear: left;
        float: left;
        box-shadow: grey 0px 4px 5px;
    }
    p#album-names{
        display: block;
        clear: left;
    }
}
/* Body Styles */
body > *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(197, 166, 52);
    color:hsl(47, 58%, 49%);
}
/* Header CSS below*/
.pagetop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:rgb(48, 48, 48);
    background-color: hsl(47, 0%, 19%);
    box-shadow: grey 0px 4px 5px;
}
.pagetop a{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    text-decoration: none;
    float: left;
}
.pagetop a:visited{
    color:rgb(197, 166, 52);
    color:hsl(47, 58%, 49%);
    text-decoration: none;
}
/* Header CSS above */
article{
    clear: both;
}
figure{
    position: relative;
    width: 65%;
    clear:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figure img#rks-members{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    clear: both;
    box-shadow: grey 0px 4px 5px;
    border: 2px solid darkgrey;
    border-radius: 10%;
}
figcaption#band-members{
    clear: left;
    padding: 5px 5px 5px 5px;
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    font-style: italic;
    font-size: 0.8em
}
p, ol, figcaption, nav{
    text-shadow: rgb(166, 166, 166) 0px 5px 6px;
    text-shadow: hsl(0, 0%, 65%) 0px 5px 6px;
}
p#home-info-list::first-letter{
    font-size: 120%;
}



#song-lists a{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    text-decoration: none;
}
#song-lists a:visited{
    color:rgb(197, 166, 52);
    color:hsl(47, 58%, 49%);
    text-decoration: none;
}
#info-page{
    overflow: auto;
    position: relative;
    bottom: 5px;
    height: 300px;
    width:100%;
    text-align: center;
}
/* Table Styles */
/* M6LO7 Demonstrate how to format a table with CSS:
The border makes the table stand out more against the page
and the background color for the head makes it similar to the header and footer */
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
table, th, td{
    border: 1px solid black;
}
thead{
    background-color: rgb(48, 48, 48);
}
/* Flex Styling */
/* M5LO5 Demonstrate the use of flexboxes on a web page: It changes up the page and shifts the table up and the image to the side
while leaving the paragraph alone */
/* M5LO7 Demonstrate use of properties of flexbox containers: I used the flex-direction property to align the figure and table
onto the same row */
#flex-test{
    display: flex;
    flex-direction: row;
}
/* M5LO6 Demonstrate use of properties of flexbox items: allows the figure and the table to both fit side by side*/
#flex-test figure{
    flex: 0 1 auto;
}
#flex-test table{
    flex: 0 1 auto;
}
p#info-band{
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Submenu Styles */
/*M5LO4 Use CSS for pull-down menus (or collapsible/expandable areas)
So when hovered it will show the links to the band's social media and it is located on the homepage beneath the ordered list*/
a#social-submenu:hover+ul#social-media-links, ul#social-media-links:hover{
    display: inline-block;
    vertical-align: auto;
}
a#social-submenu+ul#social-media-links{
    float: left;
    clear: both;
    font-size: 17px;
}
div#band-social-media{
    display: block;
}
div#band-social-media li{
    list-style: none;
}
div#band-social-media li ul{
    display: none;
}
div#band-social-media li ul li{
    list-style: none;
}
div li a#social-submenu, a#social-submenu:visited{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    text-decoration: none;
}
div li ul#social-media-links li a{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    text-decoration: none;
}
div li ul#social-media-links li a:visited{
    color: rgb(181, 156, 64);
    color:hsl(47, 48%, 48%);
    text-decoration: none;
}

/* Navigation Styles */
nav{
    display: table;
    text-align: center;
    width: auto;
}
nav a:visited{
    color: rgb(181, 156, 64);
    color:hsl(47, 48%, 48%);
}
nav a{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
}
nav ul li{
    float: left;
  }

/* Footer Styles */
footer{
    color:rgb(48, 48, 48);
    background-color: hsl(47, 0%, 19%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    clear: both;
    text-align: center;
}
footer a{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    text-decoration: none;
}
footer a:visited{
    color:rgb(197, 166, 52);
    color:hsl(47, 58%, 49%);
    text-decoration: none;
}
a#about-page-2{
    color:rgb(214, 186, 81);
    color: hsl(47, 62%, 58%);
    text-decoration: none;
}
a#about-page-2:visited{
    color:rgb(197, 166, 52);
    color:hsl(47, 58%, 49%);
    text-decoration: none;
}